@model System.Collections.Immutable.ImmutableList<TabelaLigi.Db.Models.Team>
@{
    static string GetRowClassFromPosition(int idx, int total)
    {
        if (idx >= total - 3)
        {
            return "table-danger";
        }
        return idx switch {
            0 => "table-success",
            <= 2 => "table-primary",
            _ => string.Empty
            };
    }
}
<h2>Tabla ligi</h2>
<table class="table">
    <thead class="text-center">
    <tr>
        <th scope="row">Pozycja</th>
        <th scope="row">Nazwa drużyny</th>
        <th scope="row">M.</th>
        <th scope="row">W.</th>
        <th scope="row">R.</th>
        <th scope="row">P.</th>
        <th scope="row">B.</th>
        <th scope="row"><em>Punkty</em></th>
        <th scope="row" colspan="3">Akcje</th>
    </tr>
    </thead>
    <tbody>
    @for (int i = 0; i < Model.Count; i++)
    {
        <tr class="@GetRowClassFromPosition(i, Model.Count)">
            <th scope="row">@(i + 1)</th>
            <td>@Model[i].Name</td>
            <td>@Model[i].MatchesPlayed</td>
            <td>@Model[i].MatchesWon</td>
            <td>@Model[i].MatchesDrawn</td>
            <td>@Model[i].MatchesLost</td>
            <td>@Model[i].GoalsScored-@Model[i].GoalsLost</td>
            <td><em><b>@Model[i].Points</b></em></td>
            <td><a href="@Url.ActionLink("Details",
                             "Team",
                             new {Model[i].Id})" class="btn btn-secondary">ℹ️ Szczegóły</a></td>
            <td><a href="@Url.ActionLink("Edit",
                             "Team", 
                             new {Model[i].Id})" class="btn btn-primary">📝 Edytuj</a></td>
            <td><a href="@Url.ActionLink("Delete", 
                             "Team", 
                             new {Model[i].Id})" class="btn btn-danger">🗑️ Usuń</a></td>
            <td></td>
        </tr>
    }
    <tr class="text-center">
        <th colspan="11"><a href="@Url.Action("Add")" class="btn btn-primary">➕Dodaj nową drużynę</a></th>
    </tr>
    </tbody>
</table>
<h4>Legenda</h4>
<div>
    <span class="badge bg-success">Kwalifikacje do Ligi Mistrzów</span>
    <span class="badge bg-primary">Kwalifikacje do EuropaConference League</span>
    <span class="badge bg-danger">Spadek</span>
</div>